# Python Object and Data Structure Basics

In [28]:
    print('Hello world')

Hello world

*Can insert markdown text*

In [9]:
'my string'[:-6:-1]

'gnirt'

In [10]:
z = 'x'

In [11]:
z * 10

'xxxxxxxxxx'

In [12]:
'this is the ideal idiom'.split('i')

['th', 's ', 's the ', 'deal ', 'd', 'om']

In [13]:
'This is my {} string interpolation on {}'.format('1st', '2020')

'This is my 1st string interpolation on 2020'

In [16]:
'Example of {2} {1} {3} {0} {3} {4}'.format('indexes', 'interpolation','string','with', 'care')

'Example of string interpolation with indexes with care'

In [17]:
'Example of {s} {p} {w} {i} {w} {c}'.format(i ='indexes', p ='interpolation',s='string',w='with', c='care')

'Example of string interpolation with indexes with care'

## Formatting numbers

In [20]:
result = 13/7

In [28]:
'the result is *{r:10.3f}*'.format(r=result) #the format is {value:width.precision f}

'the result is *     1.857*'

In [30]:
print(f'Result is {result}')

Result is 1.8571428571428572

## LISTS

In [1]:
my_list = [1,2,3,4]

In [2]:
len(my_list)

4

In [3]:
numers=['one','two','three', 'four']

In [10]:
new_list = numers[0:2] + numers[3:]

In [11]:
new_list[0]= 'zero'

In [12]:
print(new_list)

['zero', 'two', 'four']

In [13]:
new_list.append('six')

In [14]:
new_list

['zero', 'two', 'four', 'six']

In [15]:
new_list.pop()

'six'

In [16]:
new_list

['zero', 'two', 'four']

In [17]:
zero = new_list.pop(0)

In [18]:
print(zero)

zero

In [21]:
new_list.sort() # Does not return anything

In [22]:
print(new_list)

['four', 'two']

In [23]:
new_list.reverse()

In [24]:
print(new_list)

['two', 'four']

# Dictionaries

In [34]:
my_dictionary = {'key1':'one', 'key2':'two'} #Keys should always be a string

In [26]:
my_dictionary['key1']

'one'

In [29]:
my_dictionary['key3']='three'

In [30]:
my_dictionary

{'key1': 'one', 'key2': 'two', 'key3': 'three'}

In [31]:
my_dictionary.keys()

dict_keys(['key1', 'key2', 'key3'])

In [33]:
my_dictionary.values()

dict_values(['one', 'two', 'three'])

## Tuples

In [35]:
my_tuple = (1,2,3) # Tuples are immutable

In [36]:
my_tuple[0]

1

In [37]:
type(my_tuple)

tuple

In [38]:
my_tuple[1:]

(2, 3)

In [39]:
t=('a','a','b')

In [40]:
t.count('a') # Counts the number of 'a's

2

In [41]:
t.index('b') # returns the index of the firts occurrence

2

## Sets

In [43]:
my_sets = set() #A set is an unorder collection of unique elements

In [44]:
my_sets.add('a')

In [45]:
my_sets.add('b')

In [46]:
my_sets.add('a')

In [47]:
my_sets

{'a', 'b'}

## Booleans

In [52]:
is_true = True
is_false = False

In [53]:
if [is_true]:
    print('Is True!')

Is True!

In [54]:
type(is_false)

bool

In [55]:
b = None # This is a way to declare an object without giving it a type yet

## Files

In [2]:
%%writefile myfile.txt
Hello, this is the first line of the file
second line
third line

Writing myfile.txt

In [6]:
myfile = open('myfile.txt')

In [9]:
pwd

'/Users/jorge/Documents/python'

In [11]:
myfile.read()

'Hello, this is the first line of the file\nsecond line\nthird line\n'

In [14]:
myfile.read() # Since the file has already been consumed, we need to reset the cursor on the file to 0

''

In [20]:
myfile.seek(0)

0

In [18]:
contents = myfile.read()

In [21]:
myfile.readlines() # Returns an array with elements corresponding to lines

['Hello, this is the first line of the file\n',
 'second line\n',
 'third line\n']

In [29]:
myfile.close() # You need to close the files after reading it

In [34]:
with open('myfile.txt') as my_file:
    contents = my_file.readlines() # we don't need to close the file with this syntax

In [35]:
print(contents)

['Hello, this is the first line of the file\n', 'second line\n', 'third line\n', 'A line']

In [33]:
with open('myfile.txt', mode='a') as my_file_w:
    my_file_w.write('A line')